section{
    display: flex;
    justify-content: center;
}
.modal-header h5{
    text-align:center;
    font-family: 'Open Sans', sans-serif;
} 
.cover_albums{
    width:50vw;
}
.entryAlbum{
    position: relative;
    text-align: center;
    background:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQgwWf4-7QwuaOQtXh7MUeocqqsJ8f7yWsLIfpBwngI0SJFXtdULA" center no-repeat);
}
.entryAlbum h5{
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color : #f2f2f2;
}
