/** general **/

h2{
    font-family: 'Open Sans', sans-serif;
}

p{
    font-family: 'Montserrat', sans-serif;
}

/** Buttons **/

a.animated-button:link, a.animated-button:visited {
	position: relative;
	display: block;
	margin: 30px auto 0;
	padding: 14px 15px;
	color: #343a40;
	font-size:16px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	overflow: hidden;
	border-radius: 0;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
a.animated-button:link:after, a.animated-button:visited:after {
	content: "";
	position: absolute;
	height: 0%;
	left: 50%;
	top: 50%;
	width: 150%;
	z-index: -1;
	-webkit-transition: all 0.75s ease 0s;
	-moz-transition: all 0.75s ease 0s;
	-o-transition: all 0.75s ease 0s;
	transition: all 0.75s ease 0s;
}
a.animated-button:link:hover, a.animated-button:visited:hover {
	color: #FFF;
	text-shadow: none;
}
a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
	height: 450%;
}
a.animated-button:link, a.animated-button:visited {
	position: relative;
	display: block;
	margin: 30px auto 0;
	padding: 14px 15px;
	color: #343a40;
	font-size:16px;
	border-radius: 0;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	overflow: hidden;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

a.animated-button {
    border: 2px solid #343a40;
    font-family: 'Montserrat', sans-serif;
    
}
a.animated-button:after {
	background: #343a40;
	-moz-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
	-ms-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
	transform: translateX(-50%) translateY(-50%) rotate(-25deg);
}

.card-button{
    color : #bfbfbf;
}


/** header **/

header {
    z-index: 100;
    padding-bottom: 5px;
}

header a {
    color: #f2f2f2 !important;
    font-weight: bold;
}

.navbar-brand{
    font-family: 'Open Sans', sans-serif;
}

.navbar {
    font-family: 'Montserrat', sans-serif;  
}

.nav-link {
    display: inline-block;
    color: white;
    text-decoration: none;
}

.nav-link::after {
    content: '';
    display: block;
    width: 0;
    margin-bottom: -10px;
    height: 3px;
    background: white;
    transition: width .3s;
}

.nav-link:hover::after {
    width: 100%;
}

.nav-link{
    margin-left: 3vw;
    color: white;
}
.main-header{
    transition: 500ms ease;
    position: sticky;
    top: 0;
    background-color: #343a40;
    z-index: 100;
}

.scrollinj {
    background-color: #F8F8FF;
    color: #000000 ;
}

.nwarizzeniublak {
    color: black !important;
}
/*BURGER*/
.animated-icon1 {
    width: 30px;
    height: 25px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    }

.animated-icon1 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    }    

.animated-icon1 span {
    background: #9a9da0;
    }   

.animated-icon1 span:nth-child(1) {
    top: 0px;
    }
    
.animated-icon1 span:nth-child(2) {
top: 10px;
}

.animated-icon1 span:nth-child(3) {
top: 20px;
}

.animated-icon1.open span:nth-child(1) {
top: 11px;
-webkit-transform: rotate(135deg);
-moz-transform: rotate(135deg);
-o-transform: rotate(135deg);
transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
opacity: 0;
left: -60px;
}

.animated-icon1.open span:nth-child(3) {
top: 11px;
-webkit-transform: rotate(-135deg);
-moz-transform: rotate(-135deg);
-o-transform: rotate(-135deg);
transform: rotate(-135deg);
}    
button:focus {outline:0;}
/** section image_home **/

.image_fixed_home{
    background: url("http://globaltableadventure.com/wp-content/uploads/2015/02/date-balls.jpg") center no-repeat;
    height:60vh;
    width:100%;
    background-size: cover;
    background-attachment: fixed;
}

@media screen and (max-width: 576px){
    .image_fixed_home{
        background-attachment: local;
    }
}

/** section about us **/

#avatar{
    background: url("https://cdn.pixabay.com/photo/2019/08/11/15/48/road-trip-4399206_1280.png") center no-repeat;
    background-size: cover;
    height:30vw;
    width:30vw;
    border-radius: 50%;
    border : 1px solid black;
}

.profile_text_img{
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.profile_text_img p{
    width:40vw;
}

@media screen and (max-width: 768px){
    .profile_text_img{
        display : flex;
        align-items: center;
        flex-direction: column-reverse;
    }

    #avatar{
        height:50vw;
        width:50vw;
        margin-bottom: 10vh;
    }

    .profile_text_img p{
        width:70vw;
    }
}

@media screen and (max-width: 576px){

    #avatar{
        height:60vw;
        width:60vw;
        margin-bottom: 10vh;
    }
}

/** section cards **/

.card{
    transition: all 700ms ease;
}

.card:nth-of-type(1) .img_articles{
    background: url("http://i2.cdn.turner.com/cnnnext/dam/assets/160823141447-japan-food22-hamamatsu-eel-hvbcjnto-super-169.jpg") center no-repeat;
    background-size: cover;
}
.card:nth-of-type(2) .img_articles{
    background: url("https://www.adventureinyou.com/wp-content/uploads/2016/05/16153836/thingtodo-indonesia-food.jpg") center no-repeat;
    background-size: cover;
}
.card:nth-of-type(3) .img_articles{
    background: url("https://static.independent.co.uk/s3fs-public/thumbnails/image/2016/12/14/12/moroccan-food.jpg") center no-repeat;
    background-size: cover;
}
.card .img_articles{
    height:30vh;
}
.card-title{
    font-size: 18px;
    color:#1a1a1a;
    font-family: 'Open Sans', sans-serif;

}
.card-text{
    font-size: 14px;
    color:#4d4d4d;
    font-family: 'Montserrat', sans-serif;
}

/* hover cards articles */

.card:hover, .card:active {
    box-shadow : 10px 10px 20px #5c5c5c;
}

.card:hover .card-button, .card:active .card-button{
    color : #1a1a1a;
}

#articles .row a:hover{
    text-decoration: none;
}

#articles .row a:hover h5{
    color:#808080;
}

#articles .row a:hover p{
    color:#808080;
}

/** carousel **/

.carousel-control-prev-icon, .carousel-control-next-icon{
    height: 70px;
    width: 70px;
    color : transparent;
    opacity : 0;
}

ol.carousel-indicators {
    position: absolute;
    bottom: 0;
    margin: 0;
    left: 0;
    right: 0;
    width: auto;
  }
  
  ol.carousel-indicators li,
  ol.carousel-indicators li.active {
    float: left;
    width: 25px;
    height: 25px;
    margin: 0;
    border-radius: 50%;
    opacity : 0.4;
    border:0;
    background: white;
    margin : 15px;
  }

  ol.carousel-indicators li.active {
    background: white;
    opacity: 1;
  }

@media screen and (min-width: 576px){
    .instead_of_carousel{
        display:none;
    }

    .carousel-item {
        height: 70vh;
    }

    #carousel_albums h3{
        font-family: 'Open Sans', sans-serif;
        font-size: 6vh;
        color : #f2f2f2;
        text-shadow: 1px 1px rgb(117, 117, 117);
        margin-bottom: 18%;
    }
}

@media screen and (max-width: 576px){
    .carousel{
        display:none;
    }
    .instead_of_carousel{
        list-style-type:none;
    }
    #carousel_albums .instead_of_carousel li a{
        color:black;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #carousel_albums .instead_of_carousel li a p{
        margin-top: 3vh; 
    }
    .img_phone_mode{
        width:45vh;
    }
    #carousel_albums .instead_of_carousel li a:hover{
        text-decoration: none;
        color:#4d4d4d;
    }
}

/** footer **/

footer {
    color: white;
    background-color: #343a40;
    font-family: 'Open Sans', sans-serif;
    margin:0;
}

footer a {
    color: #f2f2f2 !important;
}

footer ul li{
    margin:3vh;
}

footer ul li a {
    color: rgb(185, 164, 164);
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

footer ul li a:hover{
    text-decoration: none;
    color: aquamarine !important;
}



@media screen and (max-width: 768px) {
    footer{
        text-align: center;
    }
    footer ul{
        margin:0;
        padding: 0;
    }
    footer ul li{
        padding-top: 1vh;
        padding-bottom:2vh;
        margin:0;
    }
    nav ul li{
      
        text-align: left ;

    }
}

.fab {
    font-size: 300%;
    padding-top: 2vh;
    font-weight: normal;
}