 
 
 /*Navbar PAYS*/
 #navCountries{
     z-index: 1;
 }
 #titlePage{
     z-index: 2;
 }
#sectionPays1{
    z-index: 2;
}

/* FONT */
 body{
    font-family: 'Montserrat', sans-serif;
 }
 .titreTypo{
    font-family: 'Open Sans', sans-serif;

 }

 
 /* IMG HOVER */

 #PresentationPicturePays1:hover img{
     opacity: 0.6;
 }

 .picturesPays1:hover img {
    opacity: 0.6;
 }
 
 /*pays1*/
 .textPicturesPays1{
     display: flex;
     justify-content: start;
 }
 

                           /*   PAYS2  */                             
           
                           

                           /* FOOTER */
footer {
color: white;
background-color: #343a40;
font-family: 'Open Sans', sans-serif;
}

a {
    color: #f2f2f2 ;
}

a:hover {
    color: aquamarine !important;
}

footer ul li a {
    color: rgb(185, 164, 164);
}

@media screen and (max-width: 768px) {
    footer {
        text-align: center;
    }
}
                        